@charset "utf-8";
/* CSS Document */
/* 作者：王泽林 */

/*--------------------通用设置--------------------*/

body {
	width: 1020px;
	margin: 0 auto;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #006db1;
}

h1 {
	font-family: "楷体";
	font-size: 28px;
}

h2 {
	font-family: "楷体";
	font-size: 24px;
}

h3 {
	font-family: "楷体";
	font-size: 20px;
}

[lang]:lang(cn) {
	font-family: "宋体";
}

[lang]:lang(en) {
	font-family: "Times New Roman";
}

/*--------------------Header设置--------------------*/

header {
    float: left;
	width: 280px;
	padding-top: 24px;
	text-align: center;
}

header p {
	font-family: "隶书";
	font-size: 18px;
	color: #94070A;
	line-height: 24px;
}

header img {
	width: 70%;
	border-radius: 50%;
	margin-top: 10px;
}

.motto {
	margin-top: 24px;
	line-height: 32px;
	font-family: "方正小标宋简体";
	font-size: 18px;
}

/*--------------------Section设置--------------------*/

section {
    float: right;
	width: 660px;
	height: 680px;
	overflow-y: scroll;
	padding-top: 36px;
	padding-right: 12px;
}

.title {
	font-family: "隶书";
	font-size: 28px;
}

section p {
	text-align: justify;
	line-height: 22px;
	font-family: "宋体";
	font-size: 16px;
	color: black;
}

section a {
	font-weight: bold;
}